@import url(theme.css);
@import url(reset.css);
@import url(page-events.css);
@import url(page-log.css);
@import url(page-settings.css);
@import url(empty-element-messages.css);

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  font-family: var(--font-family);
  color: var(--color-text-primary);
  background: var(--color-background-primary);
}

input[type="button"] {
  margin: 0;
  padding: var(--spacing-s);
  font-size: var(--font-size);
  font-family: var(--font-family);

  border: 1px solid var(--color-button-border);
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);

  &:hover {
    background-color: var(--color-background-secondary);
  }

  &:active {
    background-color: var(--color-background-tertiary);
  }
}

input[type="text"],
input[type="number"] {
  margin: 0;
  padding: 0 var(--spacing-s);
  border-radius: 2px;

  border: 1px solid var(--color-input-border);
  color: var(--color-text-primary);
  background: var(--color-background-primary);
}

header {
  display: flex;
  justify-content: space-between;

  gap: var(--spacing-m);
  padding: 0 var(--spacing-m);

  border: 1px solid var(--color-border);
  background-color: var(--color-background-secondary);

  nav {
    font-size: var(--font-size);
  
    flex: 0 0 auto;
    display: flex;
 
    input {
      display: none;
    }
  
    label {
      line-height: 2rem;
      padding: 0 var(--spacing-m);
      
      background-color: var(--color-background-secondary);
      border-bottom: 0.125rem solid var(--color-tab-inactive);
      transition: border-bottom-color var(--transition-duration) ease;
    }
  
    input:checked+label {
      border-bottom: 2px solid var(--color-tab-active);
    }
  }

  .version {
    display: flex;
    align-items: center;

    font-family: var(--font-family-version);
    font-size: var(--font-size-version);
    color: var(--color-version);
  }
}


body:not(:has([data-nav="events"]:checked))   [data-page="events"]   { display: none; }
body:not(:has([data-nav="log"]:checked))      [data-page="log"]      { display: none; }
body:not(:has([data-nav="settings"]:checked)) [data-page="settings"] { display: none; }

main {
  position: relative;
  flex: 1 1 100%;
  overflow: hidden;

  font-size: var(--font-size);

  section {
    height: 100%;
  
    border: 1px solid var(--color-border);
  }
}

.toolbar {
  display:flex;
  padding: var(--spacing-s) var(--spacing-m);
  
  border: 1px solid var(--color-border);
  background-color: var(--color-background-tertiary);

  .group {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    border-right: 1px solid var(--color-button-border);
    padding-right: var(--spacing-m);
    margin-right: var(--spacing-m);

    label {
      display: flex;
      align-items: center;
    }
  }
}
