:root {
  --spacing-xs: 0.125rem;
  --spacing-s: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing-l: 1rem;

  --color-text-primary: #181818;
  --color-text-note: #31313199;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f3f3;
  --color-background-tertiary: #eaeaea;
  --color-border: #E8E8E8;
  
  --color-tab-background: var(--color-background-secondary);
  --color-tab-background-hover: var(--color-background-secondary);
  --color-tab-inactive: transparent;
  --color-tab-active: #1155CC;
  
  --color-button-border: #D3D3D3;

  --color-input-invalid: #FF000050;
  --color-input-border: #31313199;

  --color-event-border-active: color-mix(in srgb, var(--color-tab-active) 50%, var(--color-background-primary));
  --color-event-background-active: color-mix(in srgb, var(--color-tab-active) 5%, var(--color-background-primary));

  --event-highlight-strength: 5%;
  --color-event-ack: color-mix(in srgb, teal var(--event-highlight-strength), var(--color-background-primary));
  --color-event-success: color-mix(in srgb, lime var(--event-highlight-strength), var(--color-background-primary));
  --color-event-failure: color-mix(in srgb, red var(--event-highlight-strength), var(--color-background-primary));
  --color-event-warning: color-mix(in srgb, orange var(--event-highlight-strength), var(--color-background-primary));

  --color-log-timestamp: #666;
  --color-log-level-default: black;
  --color-log-level-info: blue;
  --color-log-level-warn: orange;
  --color-log-level-error: red;
  --color-log-level-event: yellow;

  --font-family: sans-serif;
  --font-size: 0.75rem;

  --font-family-timestamp: monospace;
  --font-size-timestamp: 0.625rem;

  --font-family-version: monospace;
  --font-size-version: 0.625rem;
  --color-version: #666;

  --transition-duration: 0.2s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --event-highlight-strength: 10%;
    --color-text-primary: #E7E7E7;
    --color-text-note: #CECECE99;
    --color-background-primary: #334;
    --color-background-secondary: #445;
    --color-background-tertiary: #556;
    --color-border: #171717;
    --color-button-border: #2C2C2C;
    --color-version: #AAA;
  }
}
