# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

# Dependency directories
node_modules/

# Parcel related files
dist/
.cache/

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__

# Vim
*.swp

# Visual Studio Code
.vscode/
