:root {
  --color-background: #FFF;
  --color-primary: #0D6EFD;
  --color-secondary: #6C757D;
  --color-modal-border: #0000002D;
  --color-modal-separator: #DEE2E6;
  --color-text: #212529;
  --color-btn-text: #FFF;

  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

  color: var(--color-text);

  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: safe center;
  align-items: safe center;
  height: 100vh;
}

a {
  color: var(--color-primary);
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.modal {
  display: flex;
  box-sizing: border-box;
  max-width: 500px;
  flex-direction: column;
  height: fit-content;
  border-radius: 7px;
  border: 1px solid var(--color-modal-border);
  background-color: var(--color-background);

  > * {
    padding: 1rem;
  }

  .title {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 62px;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  .content {
    line-height: 1.5;
    border-top: 1px solid var(--color-modal-separator);
    border-bottom: 1px solid var(--color-modal-separator);
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    flex-wrap: wrap;

    button {
      cursor: pointer;
      box-sizing: border-box;
      min-height: 38px;
      padding: 0.375rem 0.75rem;
      color: var(--color-btn-text);
      font-size: 1rem;
      background: var(--btn-bg);
      border: 1px solid var(--btn-bg);
      border-radius: 6px;
      outline: 4px solid transparent;
      transition: outline 0.25 ease-in;

      &.btn-primary {
        --btn-bg: var(--color-primary);
      }

      &.btn-secondary {
        --btn-bg: var(--color-secondary);
      }

      &:hover,
      &:active,
      &:focus {
        background: color-mix(in srgb, var(--btn-bg), black 10%);
        border-color: color-mix(in srgb, var(--btn-bg), black 12%);
      }

      &:focus-visible {
        outline-color: color-mix(in srgb, var(--btn-bg), white 50%);
      }
    }
  }
}
