name: Build extension

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - uses: actions/setup-node@v5
      with:
        node-version: '20.x'

    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.OS }}-node-
          ${{ runner.OS }}-

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: |
        export SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
        export TOKEN_SIGNING_BACKWARDS_COMPATIBILITY=true
        npm run test clean build package

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: web-eid-webextension-${{github.run_number}}
        path: dist/
